<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <base href="/ms2/">
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>SSE Test Application</title>
  <link href="/css/ms2.css" rel="stylesheet">
  <style>
  
  </style>
</head>

<body>
  <iframe src="chat/Jose?init"></iframe>
  <iframe src="chat/Sara"></iframe>
</body>

</html>
